@model HocPhi.Models.BienLai

@{
    ViewBag.Title = "SuaBienLai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-11">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-6" style="margin-left:250px;">
                <div class="card" style="background:#e9e9e9">
                    <div class="card-header">
                        <strong>Sửa Biên Lai</strong>
                    </div>
                    <div class="card-body card-block">
            <div class="form-group">
                <label for="inputEmail4">Mã Biên Lai </label>
                @Html.EditorFor(model => model.MaBienLai, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaBienLai, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                <label for="inputEmail4">Mã Học Sinh</label>
                @Html.EditorFor(model => model.MaHocSinh, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaHocSinh, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                <label for="inputPassword4">Người Nộp</label>
                <input name="txt_NewNguoiNop" class="form-control" />
            </div>

            <div class="form-group ">
                <label for="inputPassword4">Ngày Nộp</label>
                <input name="txt_NewNgayNop" class="form-control" type="date" />

            </div>
            <div class="form-group ">
                <label for="inputPassword4">Tiền Ăn (1 ngày)</label>
                <input name="txt_NewTienAn1ngay" class="form-control" value="50000" />
            </div>
            <div class="form-group ">
                <label for="inputPassword4">Trạng thái thanh toán</label><br />
                <input type="radio" name="txtTrangThai" value="True">
                <label>Có</label><br>
                <input type="radio" name="txtTrangThai" value="False">
                <label>Không</label><br>
            </div>
            <div class="form-group ">
                    <label for="inputPassword4">Tổng Cộng</label>
                    <input name="tong" class="form-control"  readonly="readonly" />
                </div>
            <button style="float:right;" type="submit" class="btn btn-primary">Sửa</button>
        </div>
                    @*<div class="card-body card-block">
                        <div class="form-group">
                            <label for="inputEmail4">Mã Biên Lai </label>
                            @Html.EditorFor(model => model.MaBienLai, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaBienLai, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Mã Học Sinh</label>
                            @Html.EditorFor(model => model.MaHocSinh, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaHocSinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Người nộp</label>
                            @Html.EditorFor(model => model.NguoiNop, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NguoiNop, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            <label for="inputEmail4">Ngày nộp</label>
                            @Html.EditorFor(model => model.NgayNop, new { htmlAttributes = new { @class = "form-control" , @type = "date"} })
                            @Html.ValidationMessageFor(model => model.NgayNop, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Tiền Ăn (1 ngày)</label>

                            <div class="form-group ">
                                <label for="inputPassword4">Tiền Ăn (1 ngày)</label>
                                <input name="txt_NewTienAn1ngay" class="form-control" value="50000" readonly="readonly" />
                            </div>

                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Trạng thái thanh toán</label><br />
                            <input type="radio" value="True">
                            <label>Có</label><br>
                            <input type="radio" value="False">
                            <label>Không</label><br>
                        </div>


                        <style>
                            .form-group .form-control {
                                padding-left: 7px;
                            }
                        </style>
                        <button style="float:right;" type="submit" class="btn btn-primary">Sửa</button>

                    </div>*@
                </div>
            </div>
        }

    </div>

</div>

<style>
    .form-group .form-control {
        padding-left: 7px;
    }
</style>
<script>
        //$(document).ready(function () {
        //    $(".MaHeHoc").change(function () {
        //        $.get("/Admin/Admin/GetStateListhehoc_hocsinh", { MaHocSinh: $(".MaHeHoc").val() }, function (data) {
        //            $(".MaHocSinh").empty();
        //            $.each(data, function (index, row) {
        //                $(".MaHocSinh").append("<option value='" + row.MaHocSinh + "'>" + row.TenHocSinh + "</option>")
        //            });
        //        });
        //    })
        //});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>