@model HocPhi.Models.Lop

@{
    ViewBag.Title = "SuaLop";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-11">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-lg-6" style="margin-left:250px;">

                <div class="card" style="background:#e9e9e9">
                    <div class="card-header">
                        <strong>Sửa Lớp Học</strong>

                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label for="inputEmail4">Mã Lớp Học <span style="color:#ff0000">*</span> </label>
                            @Html.EditorFor(model => model.MaLop, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Tên Lớp Học <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.TenLop, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Mã Hệ Học <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.MaHeHoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaHeHoc, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            <label for="inputEmail4">Số Lượng <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputEmail4">Mã Giáo Viên 1 <span style="color:#ff0000">*</span></label>
                            @Html.DropDownList("MaGiaoVien", (IEnumerable<SelectListItem>)ViewBag.Ma_GV, "---Chọn---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GiaoVien.MaGiaoVien, "", new { @class = "text-danger" })
                        </div>
                       
                        <div class="form-group ">
                            <label for="inputEmail4">Ngày Bắt Đầu <span style="color:#ff0000">*</span></label>
                            @Html.TextBoxFor(model => model.NgayBatDau, new { type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Ghi Chú</label>
                            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                        </div>
                        <style>
                            .form-group .form-control {
                                padding-left: 7px;
                            }
                        </style>
                        <button style="float:right;" type="submit" class="btn btn-primary">Sửa</button>

                    </div>

                </div>
            </div>





        }


    </div>

</div>



