@model HocPhi.Models.HocSinh
@{
    ViewBag.Title = "ThemHocSinh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-11">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-lg-6" style="margin-left:250px;">

                <div class="card" style="background:#e9e9e9">
                    <div class="card-header">
                        <strong>Thêm Học Sinh</strong>

                    </div>
                    <div class="card-body card-block">
                        <div class="form-group ">
                            <label for="inputPassword4">Mã Học Sinh <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.MaHocSinh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaHocSinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputEmail4">Tên Học Sinh<span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.TenHocSinh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenHocSinh, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="inputEmail4">Giới Tính <span style="color:#ff0000">*</span></label>
                            <div class="form-check">
                                <span>Nam</span> @Html.RadioButtonFor(m => m.GioiTinh, "Nam")
                                <span>Nữ</span>@Html.RadioButtonFor(m => m.GioiTinh, "Nữ")
                            </div>
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Năm Sinh <span style="color:#ff0000">*</span></label>
                            @Html.TextBoxFor(model => model.NamSinh, new { type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NamSinh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Mã Hệ Học <span style="color:#ff0000">*</span></label>
                            @*@Html.DropDownList("MaHeHoc", (IEnumerable<SelectListItem>)ViewBag.HeHoc_MHH, "---Chọn---", new { @class = "form-control" })*@
                            @if (ViewBag.HeHoc_MHH != null)
                            {
                                @Html.DropDownListFor(model => model.MaHeHoc, ViewBag.HeHoc_MHH as SelectList, "---Chọn---", new { @class = "form-control" })

                            }
                            @Html.ValidationMessageFor(model => model.MaHeHoc, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Mã Lớp Học <span style="color:#ff0000">*</span></label>
                            @Html.DropDownList("MaLop", (IEnumerable<SelectListItem>)ViewBag.Lop_MaL, "---Chọn---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group ">
                            <label for="inputPassword4">Tên Phụ Huynh <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.TenPhuHuynh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenPhuHuynh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputEmail4">Điện Thoại <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group ">
                            <label for="inputPassword4">Địa Chỉ <span style="color:#ff0000">*</span></label>
                            @Html.EditorFor(model => model.DiaChiLienHe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChiLienHe, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="inputEmail4">Ngày Đăng Ký <span style="color:#ff0000">*</span></label>
                            @Html.TextBoxFor(model => model.NgayDangKy, new { type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NgayDangKy, "", new { @class = "text-danger" })
                        </div>
                        
                        <style>
                            .form-group .form-control {
                                padding-left: 7px;
                            }
                        </style>
                        <button style="float:right;" type="submit" class="btn btn-primary">Thêm</button>
                        <script>
                            $(document).ready(function () {
                                $("#MaHeHoc").change(function () {
                                    $.get("/Admin/Admin/GetStateListhehoc_lop", { MaLop: $("#MaHeHoc").val() }, function (data) {
                                        $("#MaLop").empty();
                                        $.each(data, function (index, row) {
                                            $("#MaLop").append("<option value='" + row.MaLop + "'>" + row.TenLop + "</option>")
                                        });
                                    });
                                })
                            });
                        </script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
                    </div>

                </div>
            </div>





        }


    </div>

</div>